.button {
  float: right;
  margin: 0.1em;
  top: 100;
  text-align: center;
  height: 10%;
  width: 10%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 10px;
  background: #0fbfd6;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 8px 1px #bbb;
  transition: opacity 0.2s ease-in-out;
}